.header {
    background-color: indianred;
    /* background-color: rgb(223, 92, 92); */
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .header-spacer {
    flex:auto;
  }
  button{
    background-color: white;
    color: indianred;
    font-size: 15px;
    font-weight: 1000;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }