<div class="container">
    <mat-card>

      <mat-card-title>Create your account</mat-card-title><br>

      <mat-card-actions>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput  [formControl]="name" name="name"   required [(ngModel)]="user.name" >
          <mat-error *ngIf="name.invalid">{{getUserNameMessage()}}</mat-error>
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
      </mat-card-actions>

      <mat-card-actions>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput name="email" placeholder="abc@example.com" [formControl]="email" required [(ngModel)]="user.email">
          <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
          <mat-icon matSuffix>mail_outline</mat-icon>
        </mat-form-field>
      </mat-card-actions>
        
        <mat-card-actions>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput name="password" [type]="hide ? 'password' : 'text'" [formControl]="password" required [(ngModel)]="user.password">
            <mat-error *ngIf="password.invalid">{{getPassErrorMessage()}}</mat-error>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </mat-card-actions>

        <mat-card-actions>
            <input  type="checkbox" [(ngModel)]="checked"><span>I accept the<a>Terms of Use</a> and the <a>Privacy Policy</a></span>
        </mat-card-actions>
           
        <mat-card-actions>
          <div>
            <button type="button" [disabled]="selectedCheckbox()" (click)="onSubmit()">SIGN UP</button>
          </div>
        </mat-card-actions>

        <mat-card-content>
          <p>Already member? <span><a routerLink="/login">Log In</a></span></p>
        </mat-card-content>

    </mat-card>
</div>


